<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projection-transition-website</title>
</head>

<body>
    <div style="width:80vh; margin:auto;">
        <div
            style="background-color: #464277; color:white; height:5em; display:flex; align-items:center; padding-left:30px; border-radius:30px;">
            <h3 style="width:12em">
                <p style="color: white;">Projection Transition</p>
            </h3>
        </div>
        <div style="backgroud-color:#e5e4ec; padding-left:20px; padding-right:20px;">
            {{{body}}}
        </div>
    </div>
</body>

</html>